
*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    background:hsl(210, 46%, 95%);
}

.container{
    max-width: 1000px;
    width: 88%;
    margin: 0 auto;
}

.article__content{
    background: white;
    width: 100%;
    overflow: hidden;
    display: block;
    border-radius: 8px;
    margin-top: 40px;
}
z
.article__contentImagen{
    max-height: 220px;
    overflow: hidden;
}

.article__imagen{
    width: 100%;  
}

.article__review{
    display: block;
    padding: 25px 33px;
}

.article__title{
    font-size: 1.2em;
    color:hsl(217, 19%, 35%);
    margin-bottom: 18px;
    padding-right: 2px;
}

.article__text{
    color: hsl(212, 23%, 69%);
    margin-right: 15px;
    margin-bottom: 18px;
}

.article__autor{
    display: grid;
    grid-template-columns:45px auto 30px;
    grid-template-rows: 1fr ;
    gap: 10px;
    padding: 0 33px;
    position: relative;
    margin-bottom: 14px;
}

.article__autorImagen{
    width: 40px;
    border-radius: 50%;
}

.article__autorName{  
    color:hsl(217, 19%, 35%);
}

.article__autorDate{
    color:hsl(212, 23%, 69%);
    font-weight: 300;
    font-size: 0.9em;
}

.article__autorContentImagenAutor{
    text-align: center;  
}

.share__icon{
    text-align: center;
    align-content: center;
}

.share__icon{
   background:hsl(210, 46%, 95%);
   padding: 8px;
   border-radius: 50%;
   margin-top:5px;
}

.share__icon:hover{
   background:hsl(214, 17%, 51%);
 }

.share__content {
    z-index: 10;
}

.share__hover{
    display: grid;
    height: 70px;
    background: hsl(217, 19%, 35%);
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    grid-template-columns:30% auto;
    grid-template-rows: 1fr ;
    gap: 10px;
    padding: 0 33px;
    align-items: center;
    justify-content: left;
}

.share__text{
    color:hsl(212, 23%, 69%);
    letter-spacing: 4px;
}

.social__iconos{
    padding: 0;
}

.social__listIcons{
    display: inline;
    margin-right: 12px;
}

.social__link{
    color: hsl(210, 46%, 95%);
    font-size: 1.5em;
    
}

@media only screen and (max-width: 768px) {

}